<!--Pagina que mostrara las reservas a traves de un calendario, 
    indicando la hora, nombre del profesional y nombre del paciente-->
<header>
    <div class="container">
        <nav class="nav-main">
            <img src="../../../assets/Captura de pantalla 2022-06-14 012517.png" alt="Centro Logo" class="nav-brand">
            <ul class="nav-menu">
                <!--li>
                    <a (click)="primero()">Agenda</a>
                </li>-->
                <li>
                    <a (click)="segundo()">Profesionales</a>
                </li>
                <li>
                    <a (click)="tercero()">Reservas</a>
                </li>
            </ul>
            <ul class="nav-menu-cerrar">
                <li>
                    <a (click)="cuarto()">Cerrar sesión</a>
                </li>
            </ul>
        </nav>
        <hr>
    </div>
</header>
<br>