<div class="new-cards">
    <h2>5. Reservar cita</h2>
    <form>
        <div class="formulario5">
            <ul>
                <li>
                    <h3>Profesional:</h3>
                    <h3>(Nombre profesional)</h3>
                </li>
                <li>
                    <h3>Especialidad:</h3>
                    <h3>(Nombre especialidad)</h3>
                </li>
                <li>
                    <h3>Lugar:</h3>
                    <h3>(Nombre lugar)</h3>
                </li>
                <li>
                    <h3>Mes:</h3>
                    <h3>(Nombre lugar)</h3>
                </li>
                <li>
                    <h3>Dia:</h3>
                    <h3>(Nombre lugar)</h3>
                </li>
                <li>
                    <h3>Hora:</h3>
                    <h3>(Nombre lugar)</h3>
                </li>
            </ul>
        </div>
        <div class="btn">
            <button (click)="navegar()">Elegir otra fecha</button>
            <button type="submit">Reservar hora</button>
            <button (click)="siguiente()">Siguiente</button>
        </div>
    </form>
</div>