/*Header*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: solid;
}

.container {
    width: 90%;
    margin: auto;
}


/*Navegacion*/

.nav-main {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.nav-brand {
    width: 60px;
}


/*Navegador izquierdo*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: -10px;
}

.nav-main ul li a {
    padding: -10px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 2px;
}


/*containers*/

.btnS {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    border: rgb(224, 213, 213);
    padding-left: 50px;
}

.btnS:hover {
    opacity: .5;
}

.containers {
    text-align: center;
    border: 2px solid rgb(170, 165, 165);
    background-color: rgb(224, 213, 213);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.formulario {
    padding-top: 30px;
    padding-bottom: 10px;
}

.formulario h3 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.formulario ul li {
    list-style: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formulario ul li input {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

.formulario ul li .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.formulario ul li .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.mensaje {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}