<!--Pagina que va a permitir registrar a las secretarias-->
<header>
    <div class="container">
        <nav class="nav-main">
            <a href="#"><img src="../../../assets/Captura de pantalla 2022-06-14 012517.png" alt="Centro Logo" class="nav-brand"></a>
            <ul class="nav-menu">
                <li>
                    <h2><a href="#">Centro Médico Cubano</a></h2>
                </li>
            </ul>
        </nav>
    </div>
</header>
<hr>
<br>
<a href="" class="btnS"><i class="fa-solid fa-angles-left"></i>Volver atrás</a>
<div class="containers">
    <form class="formulario">
        <h3>Ingrese los siguientes datos</h3>
        <ul>
            <li>
                <label for="">Nombre</label>
                <br>
                <input type="text">
            </li>
            <br>
            <li>
                <label for="">Nombre Usuario</label>
                <br>
                <input type="text">
            </li>
            <br>
            <li>
                <label for="">Apellidos</label>
                <br>
                <input type="text">
            </li>
            <br>
            <li>
                <label for="">Correo electronico</label>
                <br>
                <input type="email">
            </li>
            <br>
            <li>
                <label for="">Contraseña</label>
                <br>
                <input type="password">
            </li>
            <br>
            <li>
                <label for="">Repita contraseña</label>
                <br>
                <input type="password">
            </li>
            <br>
            <li>
                <button type="submit" class="btn">Registrarse</button>
            </li>
        </ul>
    </form>
</div>
<div class="mensaje">
    <p>Una vez completado el registro, por favor verifique su correo para validar la información.</p>
</div>
<br>