<header>
    <div class="container">
        <nav class="nav-main">
            <a href="#"><img src="../../../assets/Captura de pantalla 2022-06-14 012517.png" alt="Centro Logo" class="nav-brand"></a>
            <ul class="nav-menu">
                <li>
                    <h2><a href="#">Centro Médico Cubano</a></h2>
                </li>
            </ul>
        </nav>
    </div>
</header>
<br>
<div class="menu">
    <div class="barra">
        <nav>
            <ul class="seccion">
                <li class="informacion-centro">
                    <a [routerLink]="['Nuestro_Centro']" target="_self">Nuestro Centro</a>
                </li>
                <li class="informacion">
                    <a [routerLink]="['InformacionPaciente']" target="_self">Información para pacientes</a>
                </li>
                <li class="profesionales">
                    <a [routerLink]="['Profesionales']" target="_self">Profesionales</a>
                </li>
            </ul>
        </nav>
    </div>
</div>