<br>
<br>
<div class="noticias">
    <h2>Visita nuestro Centro Médico ubicado en Viña del Mar</h2>
    <p>Ingrese al siguiente link para reservar tu hora médica</p>
    <img src="../../../assets/arrow-down-solid.svg" alt="">
</div>
<div class="new-cards">
    <div>
        <a [routerLink]="['Identificacion']" class="reserva">Ingresa aquí <i class="fa-solid fa-angles-right"></i></a>
    </div>
</div>
<hr>
<h1>Comunicate con nosotros</h1>
<section class="contacto">
    <div class="comunicacion">
        <ul>
            <li class="llamar">
                <h4>Numero Telefono</h4>
                <p>Telefono</p>
                <a href="tel:+56-32-271-0399">(32) 271 0399</a>
                <br>
                <br>
                <p>Celular</p>
                <a href="tel:+56-9-4843-0870">9 4843 0870</a>
            </li>
            <li>
                <h4>Ubicacion</h4>
                <p>Marina Centro, Oficina en 2 piso</p>
                <p>Arlegui 333, Viña del Mar</p>
                <br>
                <a id="ubi" href="https://www.google.com/maps/place/Centro+Medico+Cubano/@-33.0230799,-71.5621701,17z/data=!4m9!1m2!2m1!1scentro+medico+cubano+vi%C3%B1a+del+mar!3m5!1s0x9689ddf412667c07:0xced10fdc41672087!8m2!3d-33.0230799!4d-71.5577927!15sCiJjZW50cm8gbWVkaWNvIGN1YmFubyB2acOxYSBkZWwgbWFykgEObWVkaWNhbF9jZW50ZXI?hl=es-419 ">Acceso directo</a>
            </li>
            <li>
                <h4>Correo Electrónico</h4>
                <a href="#"></a>
            </li>
        </ul>
    </div>
</section>
<hr>