<div class="new-cards">
    <br>
    <h2>3. Seleccionar profesional y hora</h2>
    <form action="">
        <div class="formulario3">
            <!--   <ul>
                <li>
                    <h3>Profesional: </h3>
                    <img src="" alt="">
                    <label for="fecha">Elija una fecha</label>
                    <br>
                    <input formControlName="date" type="text" name="date" id="datetimepicker">
                    <br>
                </li>
                <li>
                    <label for=" hora ">Elija una hora</label>
                    <br>
                    <input formControlName="time " type="time " name="time " id="time ">
                </li>
            </ul>-->
            <div class="wrapper">
                <div class="bodys">
                    <p class="current-date"></p>
                    <div class="icons">
                        <span class="material-symbols-rounded"><i class="fa-solid fa-angle-left"></i></span>
                        <span class="material-symbols-rounded"><i class="fa-solid fa-angle-right"></i></span>
                    </div>
                </div>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Lun</li>
                        <li>Mar</li>
                        <li>Mie</li>
                        <li>Jue</li>
                        <li>Vie</li>
                        <li>Sab</li>
                        <li>Dom</li>
                    </ul>
                    <ul class="days">
                        <li class="inactive">28</li>
                        <li class="inactive">29</li>
                        <li class="inactive">30</li>
                        <li class="inactive">31</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li class="active">22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li class="inactive">1</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn ">
            <button (click)="navegar() ">Ingresar otra especialidad</button>
            <button type="submit ">Guardar</button>
            <button (click)="confir() ">Siguiente</button>
        </div>
    </form>
</div>